<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LyricsFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><applicationSettings>
		<LyricsFetcher.Properties.Settings>
			<setting name="IgnoredGenres" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>Books &amp; Spoken</string>
						<string>Classical</string>
						<string>Instrumental</string>
						<string>Podcast</string>
						<string>Sermon</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="SearchQuery" serializeAs="String">
				<value>http://www.google.com/search?q='{0}'+'{1}'+%2Blyrics</value>
			</setting>
			<setting name="IgnoredKinds" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>MPEG-4 video file</string>
						<string>Protected MPEG-4 video file</string>
						<string>Protected QuickTime movie file</string>
						<string>QuickTime movie file</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="UseFastITunesLoader" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ArtistNameFormat" serializeAs="String">
				<value>FirstLast</value>
			</setting>
			<setting name="LyricsSources" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>LyricsPlugin</string>
						<string>LyrDb</string>
					</ArrayOfString>
				</value>
			</setting>
		</LyricsFetcher.Properties.Settings>
	</applicationSettings>
</configuration>
